.fade-enter-active, .fade-leave-active {
  transition: .3s ease-out;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}


.slide-leave-active, .slide-enter-active {
  transition: .7s;
}

.slide-enter, .slide-leave-to {
  transform: translateX(100%);
}