$blue-font-color: #3499ff;
$light-gray-bg: #434c60;
$dark-gray-bg: #454f63;
$dark-blue-bg: #313954;
$x-dark-blue-bg: #2a2e43;
$pink-bg: #f83a8a;
$light-blue-bg: #3499ff;
$light-gray-border: rgba(67, 76, 96, 0.2);
