$bg-img: "../images/bg/control-bg.jpg";
$places-icon: "../images/icons/places.svg";
$burger-icon: "../images/icons/Burger.svg";
$devices-icon: "../images/icons/devices.svg";
$areas-icon: "../images/icons/areas.svg";
$union-icon: "../images/icons/Union.svg";
$plus-icon: "../images/icons/plus.svg";
$minus-icon: "../images/icons/minus.svg";
$arrow-up-icon: "../images/icons/up.svg";
$arrow-down-icon: "../images/icons/down.svg";
$radar-icon: "../images/icons/radar.svg";
$filter-icon: "../images/icons/filter.svg";

