//$bg-img: "/public/images/bg/control-bg.jpg";
$bg-img: "../../../public/images/bg/control-bg.jpg";
$places-icon: "../../../public/images/icons/places.svg";
$burger-icon: "../../../public/images/icons/Burger.svg";
$devices-icon: "../../../public/images/icons/devices.svg";
$areas-icon: "../../../public/images/icons/areas.svg";
$union-icon: "../../../public/images/icons/Union.svg";
$plus-icon: "../../../public/images/icons/plus.svg";
$minus-icon: "../../../public/images/icons/minus.svg";
$arrow-up-icon: "../../../public/images/icons/up.svg";
$arrow-down-icon: "../../../public/images/icons/down.svg";
$radar-icon: "../../../public/images/icons/radar.svg";
$filter-icon: "../../../public/images/icons/filter.svg";

