

html {
  font-family: Poppins;
  font-size: 10px;
}

.radar-page {
  @include rectangle(100vw,100vh);
  background-image: url($bg-img);
  background-repeat: no-repeat;
  background-size: cover;

  .top-left-buttons-wrapper {
    display: flex;
    justify-content: space-between;
    width: 205px;
    min-width: 205px;
    position: absolute;
    top: 24px;
    left: 24px;
  }

  .top-right-btn {
    position: absolute;
    top: 24px;
    right: 0;
    .notification {
      width: 14px;
      height: 12px;
      border-radius: 50%;
      background-color: $pink-bg;
      border: 2px white solid;
      position: absolute;
      top: 0;
      left: 0;
    }
  }


  .bottom-left-btn {
    position: absolute;
    bottom: 24px;
    left: 24px;
  }



  .bottom-right-btns-wrapper {
    position: absolute;
    bottom: 64px;
    right: 24px;
    @extend %flex-column;
    .slot-btns {
      @extend %flex-column;
      justify-content: space-between;
      width: 40px;
      height: 104px;
      box-shadow: 0 0 8px 0 rgba(44, 66, 106, 0.24);
      margin-top: 16px;
      button {
        transition: .2s;
        background-color: white;
        &:hover {
          background-color: darken(white,20%);
        }
        &:first-child {
          border-radius: 50px 50px 0 0;
          height: 40px;
        }
        &:nth-child(2) {
          height: 24px;
        }
      }
    }
    .up-down-wrapper {
      height: 40px;
      width: 40px;
      border-radius: 0 0 40px 40px;
      background-color: #fff;
      @extend %flex-column-centered;;

      transition: .2s;
      &:hover {
        button {
          background-color: darken(white,20%);
        }
      }

      button {
        width: 100%;
        &:first-child {
          height: 20px;
          border-radius: 0;
          padding-top: 5px;
        }
        &:last-child {
          height: 20px;
          padding-bottom: 7px;
          border-radius: 0 0 40px 40px;
        }
      }
    }
  }


  .scale {
    position: absolute;
    bottom: 24px;
    right: 0;
    width: 275px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(26,32,58,0.3);
    border-radius: 10px 0 0 10px;
    .coords {
      display: inline-block;
      height: fit-content;
      width: fit-content;
      margin-left: 10px;
      margin-right: 7px;
    }
    span {
      font-size: 1rem;
      color: #ffffff;

      &:last-child {
        padding-left: 12px / 276px * 100%;
        padding-right: 8px / 276px * 100%;
      }
    }
  }

  .bar {
    display: flex;
    align-items: center;
    .bar-vertical {
      display: inline-block;
      background-color: #fff;
      width: 1px;
      height: 10px;
    }

    .bar-horizontal {
      display: inline-block;
      background-color: #fff;
      width: 78px;
      height: 1px;
    }
  }
}